#image {
    margin-top: 60px;
    width: 90% auto;
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
}

fieldset {
    background-color: white;
}

#quest-choices {
    width: 800px;
}

button {
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px black;
    font-weight: bolder;
    border-radius: 10px
}

button:hover {
    background-color: rgb(177, 154, 125);
}