@import url('https://fonts.googleapis.com/css?family=Modak');

img {
    width: 75px;
}

body {
    text-align: center;
    background: url('../assets/pdx.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-color: white;
    background-size: cover;
}

h1 {
    font-family: Modak;
    font-size: 55pt;
    font-weight: lighter;
    color: rgb(177, 154, 125);
}